@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

@foreach (var item in User.Claims)
{
    <p>
        <strong>@item.Type</strong>:
        <p>@item.Value</p>
    </p>
}